.app-logo {
	height: 140px;
	margin-left: -40px;
	margin-bottom: -65px;
	margin-top: -42px;
}

.modal {
	height: auto;
!important;
}

.navbar-nav .nav-link {
	padding-top: 1.72rem;
}

.user-displayPicture {
	height: 10px;
	width: 10px;
}

.displayPicture {
	/*float: left;*/
	/*margin-top: -40px;*/
	margin-top: -40px;
	margin-left: 42px;
}

.nav-item-right {
	float: right;
}

.privatePostContent IMG {
	margin-left: 145px;
	height: 250px;
	width: 440px;
}

.privatePostContent {
	margin-top: 25px;
}

.connectionDisplayPicture {
	height: 10px;
	width: 10px;
}

.genre-details {
	text-transform: uppercase;
}

.account-content {
	text-align: center;
	display: inline-block;
	width: 390px;
	margin-left: 50px;

}

.post-content {
	width: 750px;
	margin-left: -125px;
}

.singlePost-content {
	width: 750px;
	margin-left: -125px;
}

.contact-content {
	/*width: 1750px;*/
	/*margin-left: -125px;*/
}

.addPost-content {
	width: 550px;
	margin-left: -25px;
}

.accountDetails {
	/*float: right;*/
	/*margin-right: 135px;*/
	/*margin-top: -45px;*/
}

.genre-label {
	text-transform: capitalize;
	/*margin-left: 28px;*/
	padding-left: 8px;
	padding-top: 5px;
	padding-right: 8px;
}

.badge-info {
	background-color: #353535;
}

.readMore-btn {
	background-color: white;
	color: black;
	/*border: 2px solid #555555;*/
	border-radius: 10%;
	margin-top: -8px;
	float: right;
	/*padding-left: 4px;*/
	margin-right: -15px;
}

.editProfile-btn {
	background-color: white;
	color: black;
	/*border: 2px solid #555555;*/
	border-radius: 10%;
	margin-top: 5px;
	float: right;
	padding-left: 4px;
}

.editProfile-btn:hover {
	/*background-color: #555555;*/
	/*color: white;*/
}

.searchUser-btn {
	/*float: right;*/
	/*margin-top: -47px;*/
	/*margin-right: -22px;*/
}

.searchUserGenre-btn {
	float: right;
	margin-top: -47px;
	margin-right: -22px;
}

.unfollowUser-btn {
	background-color: #d9534f;
	color: white;
	float: right;
	width: 104px;
	padding-left: 16px;
}

.unfollowUser-btn:hover {
	background-color: #d9100a;
	color: white;
}

.followUserProfile-btn {
	background-color: #4BBF73;
	color: white;
	/*float: right;*/
}

.followUserProfile-btn:hover {
	background-color: #01bf00;
	color: white;
}

.unfollowUserProfile-btn {
	background-color: #d9534f;
	color: white;
	/*float: right;*/
	/*width: 104px;*/
	/*padding-left: 16px;*/
}

.unfollowUserProfile-btn:hover {
	background-color: #d9100a;
	color: white;
}

.followUser-btn {
	background-color: #4BBF73;
	color: white;
	float: right;
}

.followUser-btn:hover {
	background-color: #01bf00;
	color: white;
}

.getAllUser-btn {
	background-color: #4BBF73;
	color: white;
	/*float: left;*/
}

.getAllUser-btn:hover {
	background-color: #01bf00;
	color: white;
}

.addContact-btn {
	background-color: #336679;
	color: white;
	/*float: right;*/
}

.addContact-btn:hover {
	background-color: #3398bd;
	color: white;
}

.contactView-btn {
	margin-left: 270px;
}

.searchIcon {
	text-shadow: 0 0 3px #000;
}

.postOwner {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.postOwnerTime {
	margin-top: -40px;
	margin-left: 55px;
}

body {
	background-color: #504f4f;
}

.modal-header {
	background-color: #0d0d0d;
}

h3 {
	color: #cccccc;
}


